<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="user_registration">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

      <h4 class="subtitle">Basic Info</h4>
      <div class="row profile_info">
        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <span id="form-lebel"><%= f.label :username %><span>
            </div>
            <div class="col-md-9">
              <span><%= f.text_field :username %></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <span id="form-lebel"><%= f.label :email %><span>
            </div>
            <div class="col-md-9">
              <span><%= f.text_field :email %></span>
            </div>
          </div>
        </div>
        <div class="form-group">       
          <div class="row">
            <div class="col-md-3">
              <span id="form-lebel"><%= f.label :sex %><span>
            </div>
            <div class="col-md-9">
              <span><%=  f.collection_select :sex, User.sexes.map{ |a| [a.first,a.first] },  :first, :second %></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <span id="form-lebel"><%= f.label :Home_city %><span>
            </div>
            <div class="col-md-9">
              <%= collection_select(:user, :city_id, City.all, :id, :name, :prompt => "Select City") %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <span id="form-lebel"><%= f.label :Date_of_Birth %><span>
            </div>
            <div class="col-md-9">
              <span><%= f.date_field :dob,  :required => true  %></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <span id="form-lebel"><%= f.label :height %><span>
            </div>
            <div class="col-md-9">
              <span><%= f.number_field :height , in: 20..300 %></span>
              <span>cm</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <span id="form-lebel"><%= f.label :weight %><span>
            </div>
            <div class="col-md-9">
            <span><%= f.number_field :weight , in: 20..1000 %></span>
              <span>kgs</span>
            </div>
          </div>
        </div>        
        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <span id="form-lebel"><%= f.label :religion %><span>
            </div>
            <div class="col-md-9">
              <span><%=  f.collection_select :religion, User.religions.map{ |a| [a.first,a.first] },  :first, :second %></span>
            </div>
          </div>
        </div>        
        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <span id="form-lebel"><%= f.label :About_me %><span>
            </div>
            <div class="col-md-9">
              <span><%=  f.text_area :about_me  %></span>
            </div>
          </div>
        </div>
      </div>



      <h4 class="subtitle">Education </h4>
      <div class="row profile_info">
        <p><%=  f.collection_select :education, User.educations.map{ |a| [a.first,a.first] },  :first, :second %></p>
      </div>
       <h4 class="subtitle">Income </h4>
      <div class="row profile_info">
        <p><%=  f.collection_select :income, User.incomes.map{ |a| [a.first,a.first] },  :first, :second %></p>
      </div>


      <h4 class="subtitle">Dating </h4>
      <div class="row profile_info">
        <div class="row">
          <div class="col-md-3">
            <strong style="color: grey; font-style: italic;">Interested in:</strong>
          </div>
          <div class="col-md-9">
            <hr>
            <p>        
                <span class="check_box"><%= f.check_box :interested_men %></span>  
                <span id="form-lebel"><%= f.label :men %><span>        
            </p>
            <p>
                <span class="check_box"><%= f.check_box :interested_women %></span>
                <span id="form-lebel"><%= f.label :women %><span>          
            </p>
          </div>
        </div>


        <div class="row row-check-box">
          <div class="col-md-3">
            <strong style="color: grey; font-style: italic;">Here for:</strong>
          </div>
          <div class="col-md-9">
            <hr>
            <p>        
                <span class="check_box"><%= f.check_box :reason_friendship %></span>  
                <span id="form-lebel"><%= f.label :friendship %><span>   
            </p>
            <p>
                <span class="check_box"><%= f.check_box :reason_penpal %></span>
                <span id="form-lebel"><%= f.label :penpal %><span>            
            </p>
            <p>        
                <span class="check_box"><%= f.check_box :reason_marriage %></span>  
                <span id="form-lebel"><%= f.label :marriage %><span>        
            </p>
            <p>
                <span class="check_box"><%= f.check_box :reason_romance %></span>
                <span id="form-lebel"><%= f.label :romance_and_dating %><span>          
            </p>
            <p>
                <span class="check_box"><%= f.check_box :reason_travel %></span>
                <span id="form-lebel"><%= f.label :traveling_partner %><span>          
            </p>

          </div>
        </div>

      </div>
      <h4 class="subtitle">Accommodation </h4>
      <div class="row profile_info">
        <p><%=  f.collection_select :accommodation, User.accommodations.map{ |a| [a.first,a.first] },  :first, :second %></p>
      </div>
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>