
<% if user_signed_in? %>
	<div class="right_menu">
		<%= link_to pages_visitors_path do %>
			<p>
				<span style="font-size: 20px; color: orange;"><i class="fa fa-eye" aria-hidden="true"></i></span>
				<span style="color: grey;">Profile Visitors</span>
				<span style="float: right; margin-top: 10px;">


					<span style="color: grey; float: right;">
						<%= @visitors_count %>
					</span>
					<% if current_user.new_visitors > 0 %>
		        <span class="mark-read label-danger pull-right">
		          <%= current_user.new_visitors %>
		        </span>  
					<% end %>

				</span>
			</p>	
		<% end %>

		<%= link_to pages_notifications_path do %>
			<p>
				<span style="font-size: 20px; color: orange;"><i class="fa fa-bell" aria-hidden="true"></i></span>
				<span style="color: grey;">Notifications</span>
				<span style="float: right; margin-top: 10px;">
					<% if @picture_notifications.count > 0 %>
		        <span class="mark-read label-danger pull-right">
		          <%= @picture_notifications.count %>
		        </span>  
					<% else %>
						<span style="color: grey;">0</span>
					<% end %>
				</span>
			</p>	
		<% end %>

		<%= link_to pages_favourites_path do %>
			<p>
				<span style="font-size: 20px; color: orange;"><i class="fa fa-star" aria-hidden="true"></i></span>
				<span style="color: grey;">Favourites</span>
				<span style="float: right; margin-top: 10px; color: grey;">
					<%= @favourites_count %>
				</span>
			</p>	
		<% end %>

		<%= link_to pages_blocked_path do %>
			<p>
				<span style="font-size: 20px; color: orange;">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
				</span>
				<span style="color: grey;">Blocked</span>
				<span style="float: right; margin-top: 10px; color: grey;">0</span>
			</p>
		<% end %>

		<%= link_to pages_history_path do %>	
			<p>
				<span style="font-size: 20px; color: orange;">
					<i class="fa fa-history" aria-hidden="true"></i>
				</span>
				<span style="color: grey;">History</span>
			</p>
		<% end %>

		<%= link_to edit_user_registration_path do %>
			<p>
				<span style="font-size: 20px; color: orange;">
					<i class="fa fa-cog" aria-hidden="true"></i>
				</span>
				<span style="color: grey;">Settings</span>
				<span style="float: right; margin-top: 10px; color: grey;"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
			</p>	
		<% end %>

	</div>
<% else %>

	<div class="side_menu">
		<div class="side_bg">

		</div>
			<p class="fortext">
				<span style="font-weight: bold;">Welcom!</span><span>Your love is waiting for you here.</span>
				<span><%= link_to "Sign Up", new_user_registration_path %></span>
			</p>
	</div>

<% end %>